.forpage__nav {
    position: fixed;
    width: 306px;
    height:100% ;
    background: #FFFFFF;
}

.forpage__body-title {
    padding-left: 377px;
    padding-bottom: 39px;
   

    h1 {
        margin: 0;
        font-style: normal;
        font-weight: 500;
        font-size: 24px;
        line-height: 36px;
    }
}

.forpage__body {
    margin-left: 377px;
    padding: 30px 44px 40px 38px;
    width: 968px;
    height: 812px;
    background: #FFFFFF;
    box-shadow: 0px 10px 60px rgba(226, 236, 249, 0.5);
    border-radius: 30px;

    span {
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 21px;
        letter-spacing: -0.01em;
        color: #16C098;
    }

    h2 {
        font-style: normal;
        font-weight: 500;
        font-size: 24px;
        line-height: 36px;
        margin: 0;
    }

    .forpage__header{
        display: flex;
        justify-content: space-between;

        span {
            color: #16C098;
        }


        .forpage__header-title {
            font-style: normal;
            font-weight: 600;
            font-size: 22px;
            line-height: 33px;
            letter-spacing: -0.01em;
            margin: 0;
        }

        .forpage__header-input {
            width: 216px;
            height: 38px;  
            background: #F9FBFF;
            border-radius: 10px; 
            border: none;
            padding-left: 40px;
            margin-top: 14px;
            font-style: normal;
            font-weight: 400;
            font-size: 12px;
            line-height: 18px;
            letter-spacing: -0.01em;
            color: #B5B7C0;
        }
    }
}